<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <canvas id="starfield"></canvas>

  <header class="scrolling-header">
    <audio id="audio-player" src="/music/track.mp3"></audio>
    <button id="audio-toggle-button"></button>

    <div class="scrolling-text">
      {%- for i in range(0, 20) -%}
        {{ site.tickerMessage }}&nbsp;&nbsp;&nbsp;
      {%- endfor -%}
    </div>
  </header>
  <main>
    {{ content | safe }}
  </main>

  <script src="/js/starfield.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/art-page.js"></script>
</body>
</html>